/* 공통 css */

* {
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: 15px;
}

.mainpic > img {
    width: 350px;
    height: 350px;
    margin: 50px 0 0 120px;
}

.mainWrap {
    text-align: center;

}

.mainWrap > div {
    margin-top: 50px;
}

.mainWrap > .mainPost > p {
    font-size: 15pt;
}

.mainWrap > .temp > p {
    font-size: 15pt;
}

.col-4 {
    height: 67pc;
}
.banner {
    width: 100%;
    height: 200px;

    background-color: AliceBlue;
    background-image: url('banner.png');

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    cursor: pointer;
}

/* -- 로그인 후 회원정보 및 로그아웃 css -- */
.image {
    width: 40px;
    height: 40px;
}

.usern {
    /*text-align: left;*/
}

.media {
    position: fixed;
    bottom: 5%;
    left: 2%;
}

.lob {
    color: red;
    background-color: inherit;
    border: 2px solid;
    border-radius: 3px;
    font-weight: bold;
    padding: 5px 10px;
    margin-left: 20px;
}

.writebtn-box {
    position: fixed;
    bottom: 5%;
    right: 2%;
}