<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- Bulma CSS 링크 -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
        <!--google font-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@200&family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">
        <!-- 공통 css -->
        <link href='{{ url_for("static", filename="common.css") }}' rel="stylesheet">
        <!-- 상세화면 css -->
        <link href='{{ url_for("static", filename="detail.css") }}' rel="stylesheet">

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <title>혼저옵서예</title>

        <script>
            $(document).ready(function () {
                set_temp()
            });

            {# 제주 날씨 #}
            function set_temp() {
                $.ajax({
                    type: "GET",
                    url: "http://spartacodingclub.shop/sparta_api/weather/jeju",
                    data: {},
                    success: function (response) {
                        $('#temp').text(response['temp'])
                        let temp = $('#temp').text().substring(0, 4)
                        $('#temp').text(temp + 'º')
                    }
                })
            }

            {# 메인으로 #}
            function go_list() {
                window.location.href = "/"
            }

            function sign_out() {
                $.removeCookie('mytoken', {path: '/'});
                alert('로그아웃!')
                window.location.href = "/login"
            }

            {# 글 수정화면으로 이동 #}
            function go_edit(id){
                let param = id
                window.location.href='/edit/id?id_give=' + param
            }
        </script>
    </head>

    <body>
        <div class="container-fluid">
            <div class="banner" onclick="window.location.href = '/'">
            </div>
            <div class="row">
                <!--왼쪽 정보-->
                <div class="col-4">
                    <div class="mainpic">
                        <img src="../static/mainJeju.png">
                    </div>
                    <div class="mainWrap">
                        <div class="mainPost">
                            <p>
                                너와나<br>
                                우리가 알고있는<br>
                                제주 🔥 핫 플 🔥<br><br>
                                다 같이 공유해봐요 !
                            </p>
                        </div>
                        <div class="temp">
                            <p>오늘의 제주 온도 ⛅</p><span id="tempicon"></span>
                            <p id="temp"></p>
                        </div>
                        <section class="hero is-white">
                            <div class="hero-body" style="padding-bottom:1rem;margin:auto;min-width: 400px">
                                <article class="media">
                                    <figure class="media-left" style="align-self: center">
                                        <a class="image" href="#">
                                            <img class="is-rounded" src="{{ url_for('static', filename=user_info.profile_pic_real) }}">
                                        </a>
                                    </figure>
                                    <div class="media-content">
                                        <div class="content">
                                            <p class="usern">
                                                <strong>{{ user_info.profile_name }}</strong>
                                                <br>
                                                {{ user_info.profile_info }}
                                            </p>
                                        </div>
                                    </div>
                                    <button class="lob" onclick="sign_out()">로그아웃</button>
                                </article>
                            </div>
                        </section>
                    </div>
                </div>

                <!--오른쪽 정보-->
                <div class="col-6">
                    <div class="title">
                        <h1> 📍 &nbsp&nbsp {{ post.title }}</h1>
                    </div>
                    <div>
                        <h3>  </h3>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-5">
                                    <img src="../static/img/{{ post.file }}">
                                </div>
                                <div class="col-7">
                                    <p>{{ post.category }} &nbsp|&nbsp {{ post.date }}</p>
                                    <hr/>
                                    <p>{{ post.content }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="button-box">
                        <button type="button" class="btn btn-info" onclick="go_edit({{ post.id }})">수정하기</button>
                        <button type="button" class="btn btn-secondary" onclick="go_list()">목록으로</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>