<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

         <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- Bulma CSS 링크 -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
        <!--google font-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@200&family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">
        <!-- 공통 css -->
        <link href='{{ url_for("static", filename="common.css") }}' rel="stylesheet">
        <!-- 글 등록/수정 css -->
        <link href='{{ url_for("static", filename="write.css") }}' rel="stylesheet">

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <!--파일업로드 라이브러리-->
        <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>

        <title>혼저옵서예</title>

        <script>
            $(document).ready(function () {
                <!--input file란에 파일명 나타남-->
                set_temp()
                bsCustomFileInput.init()
            })

            {# 제주 날씨 #}
            function set_temp() {
                $.ajax({
                    type: "GET",
                    url: "http://spartacodingclub.shop/sparta_api/weather/jeju",
                    data: {},
                    success: function (response) {
                        $('#temp').text(response['temp'])
                        let temp = $('#temp').text().substring(0, 4)
                        $('#temp').text(temp + 'º')
                    }
                })
            }

            function sign_out() {
                $.removeCookie('mytoken', {path: '/'});
                alert('로그아웃!')
                window.location.href = "/login"
            }

            {# 메인으로 #}
            function go_list() {
                window.location.href = '/'
            }

            {# 글 등록 #}
            function add_post() {
                let category = $('#category').val();
                let title = $('#title').val();
                let content = $("#content").val();

                let file = $('#file')[0].files[0];
                let form_data = new FormData();

                form_data.append("category_give", category)
                form_data.append("title_give", title)
                form_data.append("content_give", content)
                form_data.append("file_give", file)

                $.ajax({
                    type: "POST",
                    url: "/add",
                    data: form_data,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        alert(response["msg"])
                        go_list();
                    }
                });
            }
        </script>
    </head>

    <body>
        <div class="container-fluid">
            <div class="banner" onclick="window.location.href = '/'">
            </div>
            <div class="row">
                <!--왼쪽 정보-->
                <div class="col-4">
                    <div class="mainpic">
                        <img src="../static/mainJeju.png">
                    </div>
                    <div class="mainWrap">
                        <div class="mainPost">
                            <p>
                                너와나<br>
                                우리가 알고있는<br>
                                제주 🔥 핫 플 🔥
                            </p>
                        </div>
                        <div class="temp">
                            <p>오늘의 제주 온도 ⛅</p><span id="tempicon"></span>
                            <p id="temp"></p>
                        </div>
                        <section class="hero is-white">
                            <div class="hero-body" style="padding-bottom:1rem;margin:auto;min-width: 400px">
                                <article class="media">
                                    <figure class="media-left" style="align-self: center">
                                        <a class="image" href="#">
                                            <img class="is-rounded" src="{{ url_for('static', filename=user_info.profile_pic_real) }}">
                                        </a>
                                    </figure>
                                    <div class="media-content">
                                        <div class="content">
                                            <p class="usern">
                                                <strong>{{ user_info.profile_name }}</strong>
                                                <br>
                                                {{ user_info.profile_info }}
                                            </p>
                                        </div>
                                    </div>
                                    <button class="lob" onclick="sign_out()">로그아웃</button>
                                </article>
                            </div>
                        </section>
                    </div>
                </div>

                <!--오른쪽 정보-->
                <div class="col-8">
                    <div class="title">
                        <h1>글 등록 ✍</h1>
                    </div>
                    <div class="write-box">
                        <div class="form-group row">
                            <label for="category" class="col-sm-1 col-form-label">카테고리</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="category" placeholder="카데고리를 입력하세요">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="title" class="col-sm-1 col-form-label">제 목</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="title" placeholder="제목을 입력하세요">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="content" class="col-sm-1 col-form-label">내 용</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" id="content" rows="7"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="file" class="col-sm-1 col-form-label">첨부파일</label>
                            <div class="col-sm-10">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="file">
                                    <label class="custom-file-label" for="file"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="button-box">
                        <button type="button" class="btn btn-info" onclick="add_post()">등 록</button>
                        <button type="button" class="btn btn-secondary" onclick="go_list()">뒤 로</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>